<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEND Travel Planner</title>
</head>

<body>
    <header>
        <h1 class="heading">Travel Planning App</h1>
    </header>
    <main class="main tile">
        <div class="container">
            <div class="hero">
                <img src="../media/images/london_city.jpeg" alt="Traveling meadow" class="hero hero-img" id="main-img">
            </div>
            <div class="sidebar-top tile">
                <form class="travel-form">
                    <h3 class="heading">Travel planning</h3>
                    <p>
                        <label for="place">Place</label>
                        <input id="place" type="text" name="place" />
                    </p>
                    <p>
                        <label for="travel-date">Travel date</label>
                        <input id="travel-date" type="date" name="travel-date" />
                    </p>
                    <div class="cta-buttons">
                        <button type="submit" class="cta-button" id="submit">Save trip</button>
                        <button type="reset" class="cta-button" id="reset">Remove trip</button>
                    </div>


                </form>
            </div>

            <div class="sidebar-bottom centered upcoming-trip">
                <h3 class="heading upcoming-trip">Your Upcoming Trip</h3>
                <p class="upcoming-trip-details">
                    London, the capital of England and the United Kingdom, is a 21st-century city with history
                    stretching back to Roman times. At its centre stand the imposing Houses of Parliament, the iconic
                    ‘Big Ben’ clock tower and Westminster Abbey, site of British monarch coronations. Across the Thames
                    River, the London Eye observation wheel provides panoramic views of the South Bank cultural complex,
                    and the entire city.
                </p>
            </div>
        </div>

        <div class="all-trips">
            <h3 class="heading">Your trips</h3>
            <section class="all-trips" id="all-trips-details">
            </section>

        </div>
    </main>

</body>

<script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</html>